@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/HelveticaNeueMed.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/HelveticaNeueBd.ttf');
  font-weight: bold;
  font-style: normal;
}
