.header {
  padding: 0 2%;
  width: 100%;
  height: 60px;
  background-color: $primary-color;
  position: fixed;
}

.logo {
  background-image: url(../../assets/img/logo-uppersoft.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 60px;
}